{% extends "base.html" %}

{% block content %}
    <form action="{% url 'publications' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form>
    <p>Publications:</p>
    {% for publication in publications %}
        {{ publication.title }} <br>
        {{ publication.body }} <br>
        {{ publication.added }} <br>
        {{ publication.author.first_name }} <br>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if publications.has_previous %}
                <a href="?page={{ publications.previous_page_number }}"><-</a>
            {% endif %}

            <span class="current">
                {{ publications.number }}
{#                Page {{ publications.number }} of {{ publications.paginator.num_pages }}.#}
            </span>

            {% if publications.has_next %}
                <a href="?page={{ publications.next_page_number }}">-></a>
            {% endif %}
        </span>
    </div>
{% endblock content %}